{% extends "base.html" %}
{% block title %}Записи пользователя {{ username }}{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<main role="main" class="container">
    <div class="row">
        {% include 'aux/profile_block.html' %}

        <div class="col-md-9">
            {% for post in page %}
                {% include 'aux/post_block.html' %}
            {% endfor %}

            {% if page.has_other_pages %}
                {% include "aux/paginator.html" with items=page paginator=paginator %}
            {% endif %}
        </div>
    </div>
</main>

{% endblock %}